*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-size: 1.4rem; /*14px*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
}

/* Header */
.mobile-menu-checkbox {
    opacity: 0;
    position: absolute;
}

.logo-img {
    height: 90px;
    width: 110px;
    margin: 10px;
    position: relative;
}
.logo-img img {
    height: 90%;
    width: 90%;
}

header {
    height: 100px;
    border-bottom: 1px solid #e5e5e5;
}
nav {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem ;
    background-color: white;
}
.navList {
    display: flex;
    list-style: none;
}
.navList a {
    text-decoration: none;
    color: #212E53;
    margin: 15px;
    font-weight: bold;
    font-size: 20px;
    font-family: Tahoma;
}

.menuBurger {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
}
.menuBurger span {
    display: block;
    margin: 5px;
    width: 24px;
    height: 3px;
    background: #1a1a1a;
    border-radius: 2px;
    transition: transform 0.25s ease, opacity 0.25 ease;
}

.navLanguagesBtn {
    height: 50px;
    width: 250px;
    display: flex;
    list-style: none;
}
.navLanguagesBtn img {
    height: 50px;
    width: 90%;
}

.mobile-menu-burger {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.25rem;
}
.mobile-menu-burger span {
    display: block;
    width: 24px;
    height: 3px;
    background-color: #1a1a1a;
    letter-spacing: 0.05em;
    position: relative;
}

/* Navbar Mobile */
.mobile-menu {
    display: none;
    background: #ffffff;
    border-bottom: 1px solid #d8def2;
}
.mobile-menu-link {
  width: 100%;
  background: none;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
  font-size: 1.1rem;
  font-weight: 600;
  color: #1a1a1a;
  cursor: pointer;
} 
.mobile-menu-link .icon {
  margin-left: auto;
  font-size: 2rem;
  line-height: 1;
  color: #a1a8c0;
  font-weight: 500;
}

.title-img {
    background-color: rgb(255, 255, 255);
    background-blend-mode: lighten;
    height: 500px;
    background: url(../img/3073-translation-service.jpg);
    background-size: cover;
    padding: 3rem;
}
.title-img h1 {
    color: white;
    margin: 25px;
    font-weight: 500;
    text-shadow: 
        -1px -1px 0 #000000,
        1px -1px 0 #000000,
        -1px 1px 0 #000000,
        1px 1px 0 #000000
    ;
}

/* main */
.whoAmI {
    background-color: #707380;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.who-div {
    color: white;
    font-size: 18px;
    width: 450px;
    height: 550px;
    margin-bottom: 15px;
    
}
.who-div h2 {
    margin-bottom: 15px;
    font-weight: 100;
    font-family: Tahoma;
}
.who-div p {
    margin-bottom: 15px;
    font-family: Verdana;
    font-weight: lighter;
}
.who-img {
    width: 450px;
    height: 600px;
}
.who-img img {
    width: 100%;
    height: 100%;
    padding: 5px;
    margin: 5px;
}

.myEducation {
    background: url(../img/service-traduction-toutes-langues-mail-boxes-etc-martinique-1200x630-1.png);
    background-size: cover;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 18px;
    height: 350px;
}
.myEducation h2 {
    color: #212E53;
    font-weight: 100;
	left: 32%;
    text-align: center;
}
.educations {
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Educ1 {
    width: 380px;
}
.Educ1 h3 {
    color: #AE0000;
    margin-bottom: 5px;
}
.Educ1 p {
    margin-top: 15px;
}

.Educ2 {
    width: 380px;
}
.Educ2 h3 {
    color: #AE0000;
    margin-bottom: 5px;
}


span {
    display: block;
    height: 3px;
    width: 300px;
    background-color: #AE0000;
    margin-bottom: 15px;
    margin-top: 5px;
}

.traductionLanguage {
    justify-content: center;
    font-size: 18px;
    margin-top: 25px;
    /* display: block; */
    margin-bottom: 25px;
}
.traductionListOne {
    list-style: none;
    text-align: center;
    margin-bottom: 15px;
}
.traductionLanguage h2 {
    color: #212E53;
    text-align: center;
    margin-top: 15px;
    font-weight: 500;
    margin-bottom: 15px;
}
.traductionListTwo {
    list-style: none;
    text-align: center;
}

.contactLink {
    background-color: #EDF3FF;
    height: 250px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding: 15px;
    font-size: 18px;
}
.contactLink h2 {
    padding: 25px;
}
.contactLink button {
    font-size: 16px;
    text-decoration: none;
    background-color: #494E5F;
    border-radius: 5px;
    padding: 10px;
    border: none;
    width: 155px;
    height: 40px;
}
.contactLink a {
    color: white;
}

/* footer */
footer {
    background-color: #494E5F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 15px;
    font-family: Verdana;
}
.logoFooter {
    margin: 15px;
    text-align: center;
}
.logoFooter img {
    width: 200px;
}
.logoFooter p{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.lienFooter {
    font-size: 15px;
}
.lienList {
    margin-top: 15px;
    list-style: none;
    font-size: 15px;
    gap: 5px;
}
.lienList a {
    text-decoration: none;
    color: white;
    
}
.lienFooter h3 {
    color: white;
}

.contactFooter {
    font-size: 15px;
    margin-bottom: 15px;
}
.contactFooter h3 {
    margin-bottom: 15px;
}
.numContact {
    display: flex;
}
.numContact img{
    width: 16px;
    height: 16px;
}
.numContact p {
    padding-left: 5px;
}

.mailContact {
    display: flex;
}
.mailContact img {
    width: 16px;
    height: 16px;
}
.mailContact p {
    padding-left: 5px;
}

.linkedContact {
    display: flex;
}
.linkedContact img {
    width: 16px;
    height: 16px;
}
.linkedContact p {
    padding-left: 5px;
}

.numeroSend {
    display: block;
}

.numTel {
    display: flex;
}
.numTel p {
    color: white;
    background: none;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 15px;
    border: solid #335F8A;
}
.numTel button {
    background-color: #335F8A;
    color: white;
    border: solid #335F8A;
    padding: 15px;   
    margin: 5px;
    width: 149px;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
}


@media (min-width: 769px) {
    .menuBurger {
        display: none;
        align-items: center;
        margin-top: 15px;
    }
    

}

@media (max-width: 1025px) {
    header {
        display: flex;
        justify-content: space-between;
    }
    nav {
        display: flex;
    }
    .navList {
        display: none;
    }
    .navLanguagesBtn {
        display: flex;
        gap: 15px;
        justify-content: center;
        align-items: center;
    }
    .navLanguagesBtn img {
        width: 50px;
        height: 40%;
        gap: 5px;
    }
    .menuBurger {
        display: flex;
        gap: -15px;
        margin: 15px;
    }
    .myEducation {
        display: grid;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 auto;
        align-items: center;
    }
    .educations {
        display: grid;
        flex-direction: row;
        margin: 0 auto;   
    }
    .Educ1 {
        gap: 5px;
        padding: 15px;
    }
    .Educ2 {
        gap: 5px;
        padding: 15px;
    }
    .whoAmI {
        display: grid;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 auto;
    }
    .who-div {
        justify-content: center;
        align-items: center;
        gap: 5px;
        
    }
    .who-img {
        margin-top: 15px;
    }
    .title-img h1 {
        font-size: 25px;
       
    }
    /*  <footer>
        <div class="logoFooter">
            <img src="img/logo-trad_-_Copie-removebg-preview.png" alt="">
            <p>Traducteur interprète</p>
        </div>

        <div class="lienFooter">
            <h3>Liens rapides</h3>
            <ul class="lienList">
                <li><a href="index.html">Accueil</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="tarif.html">Tarifs</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>

        <div class="contactFooter">
            <h3>Contact</h3>
            <div class="numContact">
                <img src="img/phone-white-transparent-icon-115495000895pnrajsdqc-removebg-preview.png" alt="">
                <p>06 04 41 88 30</p>
            </div>

            <div class="mailContact">
                <img src="img/black-n-white-mail-envelope-icon-png-clipart-thumbnail-removebg-preview.png" alt="">
                <p>rodolphequeau@gmail.com</p>
            </div>

            <div class="linkedContact">
                <img src="img/178-1781512_linkedin-white-linked-in-logo-removebg-preview.png" alt="">
                <p>www.linkedin.com/in/rodolphequéau-68b103293</p>
            </div>
        </div>

        <div class="numeroSend">
            <p>Déposez votre numéro de téléphone pour un rappel</p>
            <div class="numTel">
                <p>Numéro de tél.</p>
                <button>Envoyer</button>
            </div>
        </div>
    </footer> */
    footer {
        display: grid;
        flex-direction: row;
        justify-content: space-between;
        padding: 50px;
        row-gap: 25px;
    }
    .logoFooter {
        justify-content: center;
        align-items: center;
        margin: 0 auto;        
    }
    .lienFooter {
        justify-content: center;
        align-items: center;
        margin: 0 auto;      
    }
    .contactFooter {
        justify-content: center;
        align-items: center;
    }
    .numeroSend {
        justify-content: center;
        align-items: center;
        margin: 0 auto; 
    }
    
}
