.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.contactInfo {
    margin: auto 0;
    padding: 15px;
}
.contactInfo h2 {
    text-align: center;
    padding: 15px;
    font-family: Tahoma;
    color: #212E53;
}
.contactInfo p {
    font-size: 18px;
    padding: 5px;
}
.contactInfo span {
    display: block;
    width: 90%;
    height: 1px;
    background-color: #D9D9D9;
    margin-top: 5px;
}


.moyenChoix {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.telephoneContact {
    width: 75%;
    margin: 0 auto;
    display: flex;
}
.imgPhone {
    margin-top: 15px;
    width: 105px;
    height: 85px;
}
.imgPhone img {
    height: 100%;
    width: 100%;
}
.textPhone {
    margin-top: 15px;
}

.emailContact {
    margin: 0 auto;
    width: 75%;
}
.email {
    display: flex;
}
.textEmail {
    margin-top: 15px;
}
.imgEmail {
    width: 105px;
    height: 85px;
}
.imgEmail img {
    width: 100%;
    height: 100%;
}


#formulaire {
    width: 50%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 45px;
}
.formTitleContact {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.formContact {
    margin-top: 15px;
    padding: 15px;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}
.formContact p {
    padding-top: 5px;
    font-size: 16px;
    font-family: Verdana;
}
.formContact h3 {
    padding-bottom: 10px;
    font-family: Tahoma;
    color: #212E53;
}

button {
    border-radius: 5px;
    background-color: #335F8A;
    color: white;
    border: solid #ffffff;
    padding: 10px;   
    margin: 0 auto ;
    width: 155px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}
button:hover {
    background-color: #494E5F;
}

.form-item-fullname {
    display: flex;
    justify-content: center;
    margin: auto 0;
}
.form-item, .text-area {
    width: 100%;
    padding: 0.5rem;
    margin: auto 0;
    justify-content: center;
    margin-bottom: 1rem;
    font-family: Verdana;
}
.text-area {
    max-height: 130px;
    font-family: Verdana;
}

.form-item input {
    padding: 1rem;
    width: 100%;
}

.error {
    margin-top: 5px;
    color: red;
    font-size: 13px;
    font-family: Verdana;
}
.invisible {
    display: none;
}
.form-item-languages {
    display: flex;
    justify-content: center;
    margin: auto 0;
}

@media (max-width: 1025px) {
    
    .textPhone p{
        font-family: Verdana;
    }
    .textPhone h4 {
        /* font-size: 15px; */
        font-family: Verdana;
    }
    .imgPhone {
        width: 75px;
        height: 65px;
    }
    .imgPhone img{
        height: 100%;
        width: 100%;
    }

    .imgEmail {
        width: 75px;
        height: 65px;
    }
    .imgEmail img {
        width: 100%;
        height: 100%;
    }


    .contactInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .contactInfo p {
        font-size: 16px;
    }
    
    #formulaire {
        width: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        padding: 45px;
    }

    .form-item-fullname {
        display: flex;
        flex-direction: column;
    }
    .form-item-languages {
        display: flex;
        flex-direction: column;
    }


}