*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-size: 1.4rem; /*14px*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
}

table {
    table-layout: fixed;
    border: 3px solid rgb(0, 0, 0);
    border-collapse: collapse;
    background-color: #FFF7F0;
    width: 75%;
    margin: auto;
}
tr {
    border: 3px solid rgb(0, 0, 0);
    padding: 5px;
    font-size: 18px;
}
td {
    border: 3px solid rgb(0, 0, 0);
    padding: 5px;
}
tbody {
    padding: 8px 10px;
    border: 3px solid rgb(0, 0, 0);
}


.traductionPrices {
    margin-bottom: 25px;
}
.traductionPrices p {
    font-size: 18px;
    text-align: center;
    padding-bottom: 15px;
}
.traductionPrices h2 {
    padding: 15px;
    text-align: center;
    color: #212E53;
    margin-bottom: 10px;
    margin-top: 15px;
}


.interpretariatTarif {
    margin-bottom: 25px;
}
.interpretariatTarif p {
    font-size: 18px;
    text-align: center;
    padding-bottom: 15px;
}
.interpretariatTarif h2 {
    padding: 15px;
    text-align: center;
    color: #212E53;
    margin-bottom: 10px;
    margin-top: 15px;
}
@media (max-width: 1025px) {
    .traductionPrices h2 {
        font-size: 1.9rem;
    }
    .traductionPrices p {
        font-size: 1.2rem;
    }

    .interpretariatTarif h2 {
        font-size: 1.9rem;
    }
    .interpretariatTarif p {
        font-size: 1.2rem;
    }
}